{% extends 'base.html' %}

{% block content %}
<h1>About us</h1>
<p> Our company Provide a laptop, Mobile and extra ipad. It must be best selling site. </p>
<p> The title of my project is called "Any Service Provider". We provide professional web services. All services provide to worldwide client from small business to big corporations. Our services are the result-oriented branding and marketing solutions for business of all sizes. The purpose of my experiment is to provide any kind of services witch user wants. We will make the online web application that allow you to see all services for user and to place any kind of services for business man.
CERTIFICATIONS </p>

{% endblock %}
